<div class="cocktail show-cocktail">
  <div class="banner" id="banner-show-cocktail" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.hotelfahrner.com/files/hotelfahrner-bar-drinks.jpg');">
    <%= render 'layouts/navbar' %>
    <div class="banner-content">
      <div class="cocktail show-cocktail">
        <h3><%= @cocktail.name %> <%= @cocktail.id %></h3>
        <p><%= link_to "Back", cocktails_path  %></p>
        <h3>Recipe</h3>
        <div class="recipe">
          <% @cocktail.doses.each do |dose| %>
            <div class="dose-card">
              <p> <%= dose.description %> <%= dose.ingredient.name %></p>
              <p> <%= link_to "Delete", dose_path(dose),method: :delete, data: { confirm: "Are you sure?" }%> </p>
             </div>
          <% end %>
        </div>
        <%= render 'doses/form' %>
      </div>

    </div>
  </div>

</div>




